@import url(https://fonts.googleapis.com/css?family=Squada+One);

* {
  box-sizing: border-box;
}
html{
  overflow-x:hidden;
}
body {
  background: #002c40;
  padding: 0px;
  margin: 0px;
}

nav {
  padding: 18px;
  position: fixed;
  top: 40%;
  height: 55px;
  left: 0%;
  width: 20px;
  z-index: 3;
  


  .wrapper {
    padding: 0;
    width: 785px;
  }



  svg {
    margin-right: 15px;
    cursor: pointer;
    height: 20px;
    width: 30px;
    float: left;

    path,
    rect {
      fill: #fff;
    }
  }

  .nodes {
    position: relative;
    margin-top: -5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }
}

.line {
  position: absolute;
  width: 705px;
  height: 1px;
  top: 14px;

  .red,
  .blue {
    width: 100%;
    height: 1px;
  }

  .red-container {
    overflow: hidden;
    height: 1px;
    width: 58px;
  }
}

.node {
  margin-left: 90px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  float: left;
  margin-right: -10px;
  position: relative;
 

  .splash {
    box-shadow: 0px 0px 8px 2px rgba(69, 174, 233, 0.53);
    transform: translateZ(0px) scale(1);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    pointer-events: none;
    opacity: 1;
  }

  &.active {
    .active-circle {
      transform: scale(1);
      opacity: 1;
    }

    .splash {
      transition: transform 1200ms, opacity 1500ms;

      transform: translateZ(0px) scale(2.5);
      opacity: 0 !important;
    }

    .inactive-circle {
      transition: opacity 200ms;
      opacity: 0;
    }
  }

  .active-circle {
    transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
    transform: scale(0.7);
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(75, 18, 2);

    .cover {
      transform: translateZ(0px);
      width: 16px;
      height: 16px;
      background: black;
      border-radius: 100%;
      position: absolute;
      top: 2px;
      left: 2px;
    }

    .white {
      transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 100%;
      position: absolute;
      transform: translateX(5px) translateY(5px) scale(1);
    }
  }

  .inactive-circle {
    transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
    width: 14px;
    height: 14px;
    display: block;
    background: #000;
    position: absolute;
    border-radius: 100%;
    border: 2px solid #5489b1;
    top: 3px;
    left: 3px;
  }

  &:hover {
    $quickTransition: all 200ms cubic-bezier(0.63, 0.62, 0.48, 1.84);

    cursor: pointer;

    .active-circle {
      transition: $quickTransition;
      transform: scale(0.84);

      .white {
        transition: $quickTransition;
        transform: translateX(4.7px) translateY(5px) scale(1.42);
      }
    }

    .inactive-circle {
      transition: $quickTransition;
      transform: scale(0.85);
    }
  }
}

// The page/numbers
.items {
  position: relative;

  .item {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #002c40;
    span {
      font-family: "Squada One", cursive;
      color: #fff;
      display: block;
      height: 200px;
      width: 400px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 20%;
      bottom: 0;
      pointer-events: none;
      
      text-align: center;
      font-size: 160px;
      z-index: 10;
    }
    p{
      font-family: "微軟正黑體";
      color: #fff;
      position: absolute;
      top: 60%;
      left: 30%;
      z-index: 10;
    }
  }
}
