ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon {
  position: relative;
  width: 32px;
  height: 32px;
  display: block;
  fill: rgba(232, 221, 177, 0.5);
  margin-right: 20px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icon.active {
  fill: #E74C3C;
}

.icon.big {
  width: 64px;
  height: 64px;
  fill: rgba(232, 221, 177, 0.5);
}

#Introduce {
  width: 900px;
  height: 500px;
  position: absolute;
  top: 50%;
  color: #E74C3C;
  right: 0;
  margin-top: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: hidden;
}

#left-side {
  height: 70%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left-side ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 34px;
  color: rgba(232, 221, 177, 0.5);
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#left-side ul li:hover {
  color: #e8ddb1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#left-side ul li.active {
  color: #e8ddb1;
}

#border {
  height: 288px;
  width: 1px;
  background-color: rgba(232, 221, 177, 0.2);
}

#border #line.one {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 35px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#border #line.two {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 89px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#border #line.three {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 143px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#border #line.four {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 197px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#right-side {
  height: 300px;
  width: 75%;
  overflow: hidden;
}

#right-side #first, #right-side #second, #right-side #third, #right-side #fourth {
  position: absolute;
  height: 300px;
  width: 75%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  margin-top: -350px;
  opacity: 0;
  top: -10%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}

#right-side #first h1, #right-side #second h1, #right-side #third h1, #right-side #fourth h1 {
  font-weight: 800;
  color: #e8ddb1;
}

#right-side #first p, #right-side #second p, #right-side #third p, #right-side #fourth p {
  color: #e8ddb1;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}

#right-side #first.active, #right-side #second.active, #right-side #third.active, #right-side #fourth.active {
  margin-top: 0px;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
/*# sourceMappingURL=page4.css.map */